$druid-green: (
  50: #eff4ea,
  100: #d7e4cb,
  200: #bcd2a8,
  300: #a1bf85,
  400: #8cb26a,
  500: #78a450,
  600: #709c49,
  700: #659240,
  800: #5b8937,
  900: #487827,
  A100: #d5ffbb,
  A200: #b6ff88,
  A400: #97ff55,
  A700: #87ff3b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$orange-juice: (
  50 : #fdeae6,
  100 : #fbccc0,
  200 : #f9aa96,
  300 : #f6876c,
  400 : #f46e4d,
  500 : #f2542d,
  600 : #f04d28,
  700 : #ee4322,
  800 : #ec3a1c,
  900 : #e82911,
  1000: #ba4e2d,
  A100 : #ffffff,
  A200 : #ffe5e2,
  A400 : #ffb6af,
  A700 : #ff9f96,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$gray: (
  50: #f1f1f1,
  100 : #eaeaea,
  200 : #c0c1c1,
  300 : #abacad,
  400 : #969899,
  500 : #818384,
  550 : #717e86,
  600 : #6c6e70,
  700 : #575a5b,
  800 : #2e3133,
  900 : #1b1d1e,
);

$smoke: (
  50: rgba(0,0,0,0.05),
  100: rgba(0,0,0,0.1),
  200: rgba(0,0,0,0.2),
  300: rgba(0,0,0,0.3),
  400: rgba(0,0,0,0.4),
  500: rgba(0,0,0,0.5),
  600: rgba(0,0,0,0.6),
  700: rgba(0,0,0,0.7),
  800: rgba(0,0,0,0.8),
  900: rgba(0,0,0,0.9)
);



$dark-blue: #31454f;
$black: #333333;

$primary: map-get($druid-green, 500);
$primary-hover: map-get($druid-green, 400);

$accent: map-get($orange-juice, 500);
$accent-hover: map-get($orange-juice, 400);

$viber: #7F4FAF;
