<section
  class="carousel-section"
  #carouselSection
  waIntersectionObserver
  waIntersectionThreshold="0.5">
  <div class="carousel" #carousel>
    <ng-container *rxFor="let item of items; let i = index">
      <div
        class="item"
        #carouselItems
        (waIntersectionObservee)="intersectElement($event, i)"
        (click)="slideToMainItem(i)"
        (dblclick)="desktopZoom($event, i)"
        (touchstart)="detectDoubleTapClosure($event, i)"
        [ngClass]="{ 'cursor-pointer': secondaryTwin }">
        <ng-container *ngIf="loadItem(i)">
          <ng-container [ngTemplateOutlet]="item"></ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="navigationReady">
    <ng-container *ngIf="showNavigation">
      <div class="navigation left-0 pl-2" *ngIf="leftNavigator" (click)="slide(true)">
        <mat-icon [color]="breakPointOptions.navigation?.color">arrow_back_ios_new</mat-icon>
      </div>
      <div class="navigation right-0 pr-2" *ngIf="rightNavigator" (click)="slide(false)">
        <mat-icon [color]="breakPointOptions.navigation?.color">arrow_forward_ios</mat-icon>
      </div>
    </ng-container>
  </ng-container>
</section>
<ng-container *ngIf="breakPointOptions.pagination?.pagination">
  <section
    class="relative flex gap-2 mt-4 justify-center z-1"
    [ngClass]="{ '-mt-6': paginationInside }">
    <ng-container *rxFor="let itemNumber of items; index as i">
      <span
        *ngIf="maxPaginationItems && i < maxPaginationItems"
        class="w-2 h-2 rounded-xl cursor-pointer bg-black/20"
        [ngClass]="focusItem === i ? paginationColor : null"
        (click)="slideToItem(i)">
      </span>
    </ng-container>
  </section>
</ng-container>
