
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$siteng-copy-primary: mat.define-palette(mat.$indigo-palette);
$siteng-copy-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$siteng-copy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$siteng-copy-theme: mat.define-light-theme((
  color: (
    primary: $siteng-copy-primary,
    accent: $siteng-copy-accent,
    warn: $siteng-copy-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($siteng-copy-theme);

@use './styles/colors';

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html, body { height: 100%;}
body { margin: 0; font-family: Montserrat, sans-serif;}
hr { margin: 2rem 0; border-color: rgba(0,0,0,.12); width: 100%; }
strong {font-weight: 500}
pre { font-family: Montserrat, sans-serif }

@font-face {
  font-family: 'Material Icons';
  font-display: block;
}

.link-primary, .link-accent {
  color: colors.$primary;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &.link-accent {
    color: colors.$accent;
  }
}

.link-animated {
  background: linear-gradient(currentColor, currentColor) no-repeat 0 100%;
  background-size: 0 2px;
  padding-bottom: 2px;
  transition: .3s;

  &:hover {
    text-decoration: none;
    background-size: 100% 2px;
  }
}

mat-checkbox span {
  white-space: normal;
}

// adocean sticky mobile offset "hack"
body.banner-sticky-mobile-offset > div[id^="billboard"] {
  bottom: 72px !important;
  z-index: 2;
  transition: bottom 300ms ease-in-out;
}

body.body-scroll-fix {
  overflow: hidden !important;
  width: 100%;
}

